@import './index.scss';

.preview__result {
  padding: 10px;

  code {
    background-color: $dark;
    border-radius: $radius;
    color: $white;
    display: block;
    font-size: 14px;
    overflow-x: auto;
    padding: 5px;
  }

  img {
    border-radius: $radius;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
