$black: #1a1a1a;
$dark: #333333;
$gray: #555555;

$white: #faf3e3;
$light: #ccc;

$blue: #30bcc9;
$yellow: #fada80;
$red: #f6404f;

html {
  background-color: $dark;
}

* {
  box-sizing: border-box;
  color: $light;
  margin: 0;
  padding: 0;
}
