@import './index.scss';

.container {
  width: 60%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  height: 90vh;

  .btn {
    background: none;
    border: 2px solid $light;
    border-radius: 3px;
    padding: 10px;
  }

  .form {
    background-color: $dark;
    height: 100%;
    width: 70%;

    &__cover {
      height: 10%;
      padding: 10px 40px;
      display: flex;
      align-items: center;
    }

    &__title {
      height: 15%;
      width: 100%;
      resize: none;
      border: none;
      background: none;
      font-weight: 700;
      padding: 10px 40px;
      font-size: 40px;
    }

    &__tags {
      height: 5%;
      padding: 0 40px;
    }

    &__image {
      background-color: $black;
      height: 7.5%;
      display: flex;
      padding: 0 40px;
      align-items: center;

      button {
        border: none;
        background-color: $dark;
      }
    }

    &__body {
      height: 57.5%;
      width: 100%;
      resize: vertical;
      border: none;
      background: none;
      font-weight: 500;
      padding: 10px 20px;
      font-size: 20px;
    }

    .preview {
      height: 95%;
    }

    &__view {
      height: 5%;
      width: 100%;
      display: flex;
      flex-direction: row;

      &--option {
        color: $light-gray;
        width: 50%;
        font-weight: 700;
        text-align: center;
        padding: 1.25%;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid $dark;
        cursor: pointer;

        &:hover {
          color: $light;
        }

        &.active {
          border-color: $red;
          color: $light;
        }
      }
    }
  }

  .guide {
    background-color: $black;
    width: 30%;
    height: 100%;
  }
}
