# This workflow will install node dependencies, start a MongoDB server and run tests.

name: Continuous Integration

on:
  pull_request:
  push:
    branches: [master]

jobs:
  build:
    name: Running Units Tests
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node_version: '15'

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0

      - name: Install Dependencies
        run: npm install

      - name: Run TypeScript Compiler
        run: npm run tsc

      - name: Run Unit Tests
        run: npm test
        env:
          CI: true
          DB_NAME: ${{ secrets.DB_NAME }}
          JWT_KEY: ${{ secrets.JWT_KEY }}
          COOKIE_KEY: ${{ secrets.COOKIE_KEY }}
